*CMarshal.*
*/build/*
./config.*
configure
decomp
install-sh
ltmain.sh
missing
zmap_version.m4
Makefile.in
aclocal.m4
autom4te.cache/
compile
depcomp
Thumbs.db

# I like to keep local notes about checkouts and what they are for....so I use a "NOTES" file...
NOTES
