#
# Copy this when you create a new platform include file.
#
# Uncomment macros and add stuff to existing ones as you need it.
# NOTE that you must have the ones that are already uncommented below.
#


#
# compile macros, you should platform to something like ALPHA for
# alpha specific compilation etc.
#
CC_COMMON = -D<platform> -g -pthread $(INCLUDE_DIRS)

#CC = cc
CFLAGS = $(CC_COMMON)


#CCC = cxx
CCFLAGS = $(CC_COMMON

# set if you want a non-standard version of make
#MAKE = nnnn

# change if you want a special version of the test command.
TEST = /bin/test
