config.h.in
config.h.in~
config



# Ignore everything in these external library subdirs except for the 
# descriptive placeholder README_ZMAP files.
gbtools/*
!gbtools/README_ZMAP

AceConn/*
!AceConn/README_ZMAP

ensc-core/*
!ensc-core/README_ZMAP

htslib/*
!htslib/README_ZMAP


